./.git/objects/pack/tmp_pack_q5arOb
./.git/objects/pack/tmp_pack_TZ8wGz
./.git/objects/pack/tmp_pack_hu0Uc6
./.git/objects/pack/tmp_pack_dBpGHM
./.git/objects/pack/tmp_pack_r3NHQ8
./.git/objects/pack/tmp_pack_qyuUhz
./.git/objects/pack/tmp_pack_gJQvNu
./.git/objects/pack/tmp_pack_v2KbJT
./.git/objects/pack/tmp_pack_KUNH4O
./.git/objects/pack/tmp_pack_Y9TDfK
./.git/objects/a3/00c6829e71c982454a873c97b7ab2a2e7e42d8
./.git/objects/91/8ce34d565d8340449df755e2dca9e277ff5a99
./try/k400_k710_uniformerv2_l14_32x336.pyth
./try/ViT-L-14.pt
./try/vit_b16.pth
./try/vit_l14.pth
./try/vit_l14_336.pth
./try/k400_uniformerv2_b16_8x224.pyth
